/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*Estilos para el titulo principal*/
#Titulo-Principal {
    color:navy;
    text-align: center;
}

/*Estilos para la descripcion*/
.Descripcion {
    color: #333;
    font-size: 16px;
    text-align: center ;
}

.Imagen_1{
    display: block;
    margin: 20px auto;
    width: 300px;
}
p{
    text-align: center;
}
.card{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}

ul{
    list-style-type: square;
}

li{
    margin: 10px 0;
    text-align: center;
}
.boton {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1d4ed8;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.boton:hover {
    background-color: darkorange;
}
.contacto {
    background-color: #eaeaea;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

.formulario {
    max-width: 400px;
    margin: auto;
}

.formulario button {
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.formulario button:hover {
    background-color: darkorange;
}

.Pie-de-pagina {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer a {
    color: #4ea3ff;
    margin: 0 10px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}