/*Estilos generales*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*Estilos para el titulo principal*/
#Titulo-Principal {
    color:navy;
    text-align: center;
}

/*Estilos para la descripcion*/
.Descripcion {
    color: #333;
    font-size: 16px;
    text-align: center ;
}

.card{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}

ul{
    list-style-type: square;
}

li{
    margin: 10px 0;
}
.boton {
    display: inline-block;
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover {
    background-color: darkorange;
}